*{
  border: 0;
  margin: 0;
  list-style: none;
}

.Search__Bar .Title__Head{
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}

.Search__Bar{
  padding-top: 10px;
}

li {
  text-align: left;
}

.Input__Field{
  width: 60%;
  height: 50px;
  display: flex;
  margin: auto;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 20px;
  margin-left: 3rem;
  margin-top: 2rem;
}

input{
  border-radius: 5px;
  border: 0;
  width: 90%;
}

input:focus{
  outline: none;
}

svg{
  position: absolute;
  top: 93px;
  right: 688px;
}

.synonymss{
  display: inline-block;
}

ul li span{
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: -50px;
}

.phonetics{
  margin-top: 20px;
  padding-left: 50px;
}

.synonymss ul li{
  /* background-color: whitesmoke; */
  border: 1px solid black;
  color: black;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 1px;
  /* cursor: pointer; */
  border-radius: 30px;
  
}

.Text{
  font-size: 18px;
  color: green;
  padding-left: 50px;
}

.Digits{
  font-size: 18px;
}

.Example__Text{
  font-size: 18px;
  padding-left: -55px;
  color: grey;
  font-family: Google Sans,arial,sans-serif;
}

.Speech{
  padding-left: -100px;
}

.Search__Bar h1{
  text-align: left;
  padding-left: 3rem;
}

